@media (max-width: 912px) {
    .profile{
        width:100%;
        height:fit-content;
        /* display: block; */
        padding:2% 13%;
    }
    .stats{
        width:100%;
        padding: 5px;
    }
    .stat{
    display: inline-grid;
    width: 30%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.2rem /* 16px */;
    border-color: var(--fallback-bc,oklch(var(--bc)/var(--tw-border-opacity)));
    --tw-border-opacity: 0.1;
    padding-left: 0.2rem /* 24px */;
    padding-right: 0.2rem /* 24px */;
    padding-top: 0.1rem /* 16px */;
    padding-bottom: 0.1rem /* 16px */;
    }
    .stat-value{
    grid-column-start: 1;
    white-space: nowrap;
    font-size: 1rem /* 36px */;
    line-height: 1rem /* 40px */;
    font-weight: 800;
    }
    .stat-desc{
        font-size: 0.4rem;
    }
    .stat-title{
        font-size: 0.5rem;
    }
}